---
layout: page
---

<!-- Scripts to get the values for donation progress bar from a google sheet -->
<!-- Code inspired by documentation from https://github.com/jsoma/tabletop/blob/master/examples/simple/no-tabletop.html -->
<script src="/assets/js/papaparse.js"></script>

<!-- "/Register.html" -->
<a style="position:fixed;width:150px;height:75px;bottom:10%;right:5%;background-color:#ff736fff;border-radius:200px;box-shadow: 2px 2px 3px #999;z-index:2">
  <div style="margin-top:20px;text-align:center;color:white;font-size:20px;font-weight:1000">
    Register
  </div>
</a>

<!-- Content -->
{{ content }}